{% extends "template.twig" %}

{% block links %}
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/fonts.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/icons.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/home.css">
{% endblock %}

{% block meta %}
    {#<meta property="og:image" content="">#}
    <meta property="og:title" content="Clément Patigny">
    <meta property="og:url" content="{{ baseUrl }}">
    {#<meta property="og:type" content="profile">#}
    {#<meta property="og:description" content="">#}
{% endblock %}

{% block content %}
    <div id="menu-overlay"></div>

    <header id="menu">
        <nav>
            <ul>
                <li data-target-id="home" class="menu-item home-anchor"><a href="#" accesskey="h">HOME</a></li>
                <li data-target-id="about-me" class="menu-item about-me-anchor"><a href="#" accesskey="a">ABOUT ME</a></li>
                <li data-target-id="portfolio" class="menu-item portfolio-anchor"><a href="#" accesskey="p">PROJETS</a></li>
                <li data-target-id="contact" class="menu-item contact-anchor"><a href="#" accesskey="c">CONTACT</a></li>
                <li><a href="{{ baseUrl }}assets/files/cv.pdf" rel="noopener" target="_blank" title="Télécharger le CV">CV</a></li>
            </ul>
        </nav>
    </header>

    <div id="open-menu">
        <div class="top"></div>
        <div class="bottom"></div>
    </div>

    <aside id="mobile-menu">
        <div id="close-menu"><i class="icon-close"></i></div>
        <nav>
            <ul>
                <li data-target-id="home" class="menu-item home-anchor"><a href="#" accesskey="h">HOME</a></li>
                <li data-target-id="about-me" class="menu-item about-me-anchor"><a href="#" accesskey="a">ABOUT ME</a></li>
                <li data-target-id="portfolio" class="menu-item portfolio-anchor"><a href="#" accesskey="p">PROJETS</a></li>
                <li data-target-id="contact" class="menu-item contact-anchor"><a href="#" accesskey="c">CONTACT</a></li>
                <li><a href="{{ baseUrl }}assets/files/cv.pdf" rel="noopener" target="_blank" title="Télécharger le CV">CV</a></li>
            </ul>
        </nav>
    </aside>

    <section id="home">
        <div id="layer"></div>

        <div class="center">
            <h1 class="name">CLÉMENT PATIGNY</h1>
            <h2 class="status">Développeur web</h2>
        </div>

        <div class="bottom"><i id="go-down" class="icon-down-chevron" title="Descendre"></i></div>
    </section>

    <section id="about-me">
        <div class="center-title"><h2 class="section-title">ABOUT ME</h2></div>
        <div class="left">
            <div class="center">
                <img src="{{ baseUrl }}assets/img/profile-picture.png" alt="photo de profil">

                <blockquote cite="https://quotefancy.com/quote/35383/Michael-Jordan-If-you-quit-once-it-becomes-a-habit-Never-quit">
                    <p>“If you quit once, it becomes a habit. NEVER QUIT !”<cite>- Michael Jordan</cite></p>
                </blockquote>
            </div>
        </div>

        <div class="right">
            <p>Passionné par le développement web, je suis très investi dans mes projets. Je fais preuve d'une grande autonomie et suis déterminé à apprendre toujours plus.</p>
        </div>
    </section>

    <section id="portfolio">
        <div class="center-title"><h2 class="section-title">MES PROJETS</h2></div>
        <div id="projects"></div>
    </section>

    <section id="contact">
        <div class="left">
            <p>UNE QUESTION ?<br><span>Écrivez moi !</span></p>
            <div class="envelope"><i class="icon-envelope"></i></div>
        </div>

        <div class="center-title"><h2 class="section-title">ME CONTACTER</h2></div>

        <div class="right">
            <form id="contact-form">
                <label><input type="text" name="name" placeholder="Votre nom" maxlength="200" required></label>
                <label><input type="email" name="email" placeholder="Votre email" maxlength="200" required></label>
                <label><input type="text" name="object" placeholder="Sujet du message"  required></label>
                <textarea name="message" cols="30" rows="7" placeholder="Votre message" required></textarea>
                <div><input type="submit" value="Envoyer le message"></div>
            </form>
        </div>
    </section>

    <footer>
        <div class="center">
            <div class="left">
                <a href="{{ baseUrl }}legal-notice">mentions légales</a>
                <a href="{{ baseUrl }}login">admin</a>
            </div>

            <div class="right">
                <a href="https://github.com/Clement-76" rel="noopener" target="_blank" title="Github" accesskey="g"><i class="icon-github"></i></a>
                <a href="https://www.linkedin.com/in/clementpatigny/" rel="noopener" target="_blank" title="Linkedin" accesskey="l"><i class="icon-linkedin"></i></a>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{{ baseUrl }}assets/js/main.js" type="module"></script>
{% endblock %}
